@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.modalImage {
  display: block;
  margin: auto;
  margin-top: 15px;
  height: 400px;
}

.modal-content {
  display: block;
  max-width: 100%;
  margin: auto;
  background-color: $lightBackground;
}

label {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

form {
  margin: 15px;
}

.modalBtn {
  display: block;
  margin: auto;
  width: 100%;
  font-size: 20px;
}
