@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.card {
  align-items: center;
  justify-content: center;
  margin: 6px;
  width: 280px;
  background-color: $lightBackground;
  box-shadow: 5px 5px 3px grey;
}

.thumbnail {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
}

.thumbnail .cardImage {
  max-height: 150px;
}

.most-recent-caption {
  text-decoration: none;
  font-family: $bodyFont;
  color: $bodyTextColor;
  font-size: 1.5em;
  font-weight: bold;
}
