@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

#card {
  align-items: center;
  justify-content: center;
  margin: 6px;
  width: 280px;
  background-color: $lightBackground;
  box-shadow: 5px 5px 3px grey;
  text-align: center;
}

#card:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
  border: 1px solid $accentColor !important;
}

.row {
  margin: 0;
}
.thumbnail {
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
}

.thumbnail .cardImage {
  margin-top: 5px;
  max-height: 150px;
}

.most-recent-caption {
  text-decoration: none;
  font-family: $bodyFont;
  color: $bodyTextColor;
  font-size: 1em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #card {
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 280px;
    background-color: $lightBackground;
    box-shadow: 3px 3px 1px grey;
  }
}
