@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $bodyFont;
    color: $bodyTextColor;
 }