@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.container {
  min-height: 100%;
}

#titleDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $bodyFont;
  font-weight: bold;
  color: $bodyTextColor;
  background-color: $lightBackground;
  height: 80vh;
  border: 1px solid $accentColor;
}

#titleLogo {
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  #titleDescription {
    height: auto;
  }
}
