@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

#titleDescription {
  font-family: $bodyFont;
  font-weight: bold;
  color: $bodyTextColor;
  background-color: $lightBackground;
}
